extends layout

block content
  h1.title BIO CAN
  img(src="https://i.blogs.es/5fb258/650_1000_dos-tontos-muy-tontos-2/650_1200.jpg", alt="creadores fullstack")

  // Contenedor del botón centrado
  div.button-container
    a.btn-grande(href="publicdogs") Adopta un perrete pulsa aqui.

  .info-card
    h2 Información de la Protectora
    p Dirección: Calle Ficticia, 123, Ciudad Ficticia
    p Teléfono: 123-456-789
    p Correo Electrónico: info@biocan.org
