html 
    head 
        title biocan
        link(rel="stylesheet" href="/css/style.css")

    body 
        nav 
            a(href="/") Home 
            a(href="/dogs") Perros
            a(href="/candidates") Candidatos
            a(href="/adoptions") Adopciones
            a(href="/login") Login
            a(href="/logout") Logout
        block content

        script(type="module", src="/js/layout.js")  
        block script