html 
    head 
        title biocan
        link(rel="stylesheet" href="/css/style.css")

    body 
        nav 
            a(href="/") Home 
            a(href="/aceitunas") Tipos de aceitunas
            a(href="/login") Login
            a(href="/logout") Logout
        block content

        script(type="module", src="/js/layout.js")  
        block script